django
django-guardian
django-session-security
django-simple-history
django-allauth
django-rest-auth
djangorestframework
djangorestframework-jwt
httpie
requests
coreapi

# Docker-specific requirements
psycopg2
gunicorn
uwsgi
